.workspaces .focused label {
  background-color: $active;
  color: $bg;
}

.workspaces button {
  border-radius: 13rem;
  padding: 0 0.55rem;
  transition: 0.3s;
}

.workspaces .hover {
  background-color: lighten($bg, 10%);
}